
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
  margin: 0px 0px 0px 0px;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}
iframe{
  margin: -130px 0px -20px 0px;
}
span.demo{
  margin: -80px 0px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  z-index:999
}
/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 827px;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration:none;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (min-width: 100px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}


/* Button Styling */
#nav li {
  display: inline;     
}         
  
a.project{
  color: black;   
  font-family:" Georgia";
  font-size: 20px;
  text-decoration:none;
}

a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
}

a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

span.link {
  color:#1269a7;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

a.link:link {
  color:#1269a7;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: left;
  align-items: left;
  gap: 16px;
  margin: -20px 0px -40px -40px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

